<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiran.mission.mapper.OrderMapper">

    <resultMap id="orderResultMap" type="com.weiran.common.pojo.dto.OrderDTO">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <!--查询订单-->
    <select id="findByOrder" resultMap="orderResultMap">
        SELECT
            *
        FROM
            `order_info`
    </select>

    <!--根据传入的id查询订单-->
    <select id="findOrderById" resultMap="orderResultMap">
        SELECT
            *
        FROM
            `order_info`
        WHERE
            id = #{id}
    </select>

</mapper>
