<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiran.mission.mapper.SeckillGoodsMapper">

    <resultMap id="seckillResultMap" type="com.weiran.common.pojo.dto.SeckillGoodsDTO">
        <result column="goods_id" property="goodsId"/>
        <result column="stock_count" property="stockCount"/>
    </resultMap>

    <!--查询全部-->
    <select id="findSeckill" resultMap="seckillResultMap">
        select *
        from seckill_goods
    </select>

    <!--通过goodsId模糊查询-->
    <select id="findByGoodsIdLike" resultMap="seckillResultMap">
        select * from seckill_goods where goods_id LIKE CONCAT(CONCAT('%', #{goodsId}), '%')
    </select>

    <!--新增-->
    <insert id="addSeckillGoods" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO seckill_goods (goods_id,stock_count)
        VALUES (#{seckillGoodsDTO.goodsId},
                #{seckillGoodsDTO.stockCount});
    </insert>

    <!--删除-->
    <delete id="deleteSeckillGoods">
        delete
        from seckill_goods
        where goods_id = #{goodsId}
    </delete>

    <!--更新-->
    <update id="updateSeckillGoods">
        UPDATE seckill_goods
        SET stock_count  = #{seckillGoodsDTO.stockCount}
        WHERE goods_id = #{seckillGoodsDTO.goodsId}
    </update>

</mapper>
