body,
ul,
li {
  margin: 0;
  padding: 0;
  /*height: 800px;*/
}
body {
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
  "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.topbar {
  /* border: 1px solid black; */
  background: #333;
  height: 40px;
}
.container {
  /* border: 1px solid black; */
  margin: 0 auto;
  width: 1226px;
}
.container::before,
.container::after,
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.container::after,
.clearfix::after {
  clear: both;
}
.topbar a {
  color: #b0b0b0;
  font-size: 12px;
}
.topbar a:hover {
  color: #fff;
}

.topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
  font-size: 0;
}
.topbar-nav span {
  font-size: 12px;
  color: #424242;
  font-family: sans-serif;
  margin: 0.5em;
}

.topbar-info,
.topbar-cart {
  float: right;
}
.topbar-cart button {
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  width: 120px;
  background: #f8f8f3;
}
.topbar-cart button {
  margin-left: -4px;
  font-size: 12px;
}
.topbar-info {
  margin-right: 15px;
}
.topbar-info a {
  float: left;
  padding: 0 5px;
  line-height: 40px;
  height: 40px;
}
.topbar-info span {
  float: left;
  font-family: sans-serif;
  font-size: 12px;
  color: #424242;
  line-height: 40px;
  height: 40px;
}


/* header */
.header {
  height: 100px;
}
.header-logo {
  float: left;
  width: 62px;
  height: 55px;
  margin-top: 22px;
  /* border: 1px solid black; */
}
.header-logo a {
  display: block;
  width: 80px;
  height: 80px;
  background: url("/img/bankLogo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo a.lr {
  text-align: left;
  text-indent: -9999em;
}

/* header nav */
.header-nav {
  float: left;
  /* border: 1px solid black; */
  width: 820px;
  height: 100px;
}
.header-nav .nav-list {
  width: 820px;
  height: 88px;
  font-size: 16px;
  padding: 12px 0 0 30px;
}
.header-nav .nav-list .nav-category {
  float: left;
  width: 127px;
  padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-category a {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333;
}
.header-nav .nav-list .nav-item {
  float: left;
}
.header-nav .nav-list .nav-item a {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
}
.header-nav .nav-list .nav-item a:hover {
  color: #ff6700;
}

/* seckill */
.seckill {
  background: #f5f5f5;
}
.seckill-head {
  margin-top: 19px;
  height: 170px;
  /* font-size: 45px; */
  text-align: center;

  /* line-height: 100px; */
}
.seckill-head h1 {
  margin: 0;
  display: block;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
}

.seckill-nav {
  margin: -68px 0 22px;
}
.seckill-navfixed {
  position: fixed;
  top: 60px;
}
.seckill-nav ul.n {
  width: 1226px;
  height: 68px;
  background: #414141;
}
.seckill-nav li {
  display: block;
  float: left;
  color: #fff;
  width: 25%;
  height: 68px;
  line-height: 68px;
  text-align: center;
  cursor: pointer;
}
.seckill-nav li em {
  display: inline-block;
  margin-left: 30px;
  font-style: normal;
  font-size: 18px;
  line-height: 1;
  vertical-align: middle;
}
.seckill-nav li span {
  display: inline-block;
  margin-left: 15px;
  text-align: left;
  line-height: 1;
  vertical-align: middle;
  font-size: 14px;
}
.seckill-nav .active {
  background: #f1393a;
}
.seckill-goods .active {
  display: block;
}
.seckill-goods ul {
  /* border: 1px solid black; */
  margin-right: -13px;
  display: none;
}
.seckill-goods li {
  float: left;
  width: 400px;
  height: 190px;
  background: #fff;
  /* border: 1px solid black; */
  margin-right: 13px;
  margin-bottom: 13px;
}

.seckill-goods .bg {
  float: left;
  width: 190px;
  height: 190px;
  /* border: 1px solid red; */
}
.seckill-goods .bg img {
  height: 190px;
}
.seckill-goods .info {
  margin-left: 210px;
  width: 190px;
  height: 190px;
  /* border: 1px solid black; */
  padding-top: 30px;
}
.seckill-goods .info .name {
  font-size: 16px;
  color: #333;
  height: 16px;
  line-height: 16px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.seckill-goods .info .tips {
  font-size: 12px;
  color: #999;
  line-height: 12px;
  margin-top: 10px;
}
.seckill-goods .info .price {
  font-size: 16px;
  line-height: 16px;
  color: #f1393a;
  margin-top: 14px;
  margin-bottom: 0;
}
.seckill-goods .info .price del {
  color: #999;
  font-size: 12px;
  line-height: 12px;
  margin-left: 10px;
}
.seckill-goods .info .btn {
  display: inline-block;
  width: 118px;
  height: 28px;
  font-size: 14px;
  color: #fff;
  line-height: 28px;
  text-align: center;
  background: #f1393a;
  margin-top: 19px;
  border: 1px solid #f1393a;
}
.seckill-notice {
  font-size: 12px;
  color: #999;
  margin-top: 100px;
  padding-bottom: 35px;
}

