<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiran.manage.mapper.uaa.RuleMapper">

    <resultMap id="ruleResultMap" type="com.weiran.manage.dto.uaa.RuleDTO">
        <result column="id" property="id"/>
        <result column="exceed_year" property="exceedYear"/>
        <result column="exceed_count" property="exceedCount"/>
        <result column="exceed_money" property="exceedMoney"/>
        <result column="exceed_day" property="exceedDay"/>
        <result column="limit_age" property="limitAge"/>
    </resultMap>

    <!--查询全部-->
    <select id="findRule" resultMap="ruleResultMap">
        select id,exceed_year,exceed_count,exceed_money,exceed_day,limit_age
        from rule
    </select>
    
    <!--通过更新rule-->
    <update id="update">
        UPDATE rule
        SET exceed_year = #{ruleDTO.exceedYear},
            exceed_count  = #{ruleDTO.exceedCount},
            exceed_money  = #{ruleDTO.exceedMoney},
            exceed_day = #{ruleDTO.exceedDay},
            limit_age = #{ruleDTO.limitAge}
        WHERE id = #{ruleDTO.id}
    </update>

</mapper>