<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiran.manage.mapper.uaa.SiftMapper">

    <resultMap id="siftResultMap" type="com.weiran.manage.dto.uaa.SiftDTO">
        <result column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="sift_pass" property="siftPass"/>
        <result column="identity_card_id" property="identityCardId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    
    <!--查询全部-->
    <select id="findSift" resultMap="siftResultMap">
        select *
        from sift
    </select>
    
    <!--通过userId模糊查询-->
    <select id="findByUserIdLike" resultMap="siftResultMap">
        select * from sift where user_id LIKE CONCAT(CONCAT('%', #{userId}), '%')
    </select>

</mapper>